[package]
name = "fum-player"
description = "A tui-based mpris music client."
version = "0.9.1"
repository = "https://github.com/qxb3/fum"
homepage = "https://github.com/qxb3/fum"
license = "MIT"
edition = "2021"

[[bin]]
name = "fum"
path = "./src/main.rs"

[dependencies]
base64 = "0.22.1"
clap = { version = "4.5.23", features = ["derive"] }
crossterm = "0.28.1"
expanduser = "1.2.2"
image = "0.25.5"
lazy_static = "1.5.0"
mpris = "2.0.1"
ratatui = { version = "0.29.0", features = ["all-widgets", "serde"] }
ratatui-image = { version = "4.1.0", features = ["crossterm"] }
regex = "1.11.1"
reqwest = { version = "0.12.9", features = ["blocking"] }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.134"
unicode-width = "0.2.0"
uuid = { version = "1.12.0", features = ["v4", "fast-rng"] }

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
